.wrapper {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 1000px;
}

#content {
    width: 900px;
    height: 900px;
    margin: 0 auto;
    border: 1px solid;
}

.message {
    height: 50px;
    width: 900px;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 10px;
}

.menu {
    height: 200px;
    width: 500px;
    margin: 0 auto;
    text-align: center;
}
.group {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.flex {
    display: flex;
    flex-direction: row;
}
.flex li {
    display: flex;
    flex: 1 1 auto;
    flex-direction: row;
    justify-content: center;
}
 #point {
    height: 36px;
    width: 150px;
     border: solid 3px;
     background-color: white;
     color: black;
     font-size: 16px;
}

 #point:hover {
     background-color : rgba(0,0,0,0.5);
 }

.flex li label {
    margin-right: 5px;
    font-size: 30px;
    margin-top: 2px;
}
.flex li input {
    width: 80px;
    height: 30px;
    font-size: 20px;
    text-align: center;
}

.flex li input[type=number] {
    width: 100px;
}